# Flutter/Dart
.dart_tool/
.packages
build/
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework/
ios/Flutter/engine/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Sistema
.DS_Store
Thumbs.db

# Firebase
google-services.json
GoogleService-Info.plist

# Backup files
*.backup